.card {
  margin-bottom: 1.5em;
}

.card-title {
  font-size: 2em;
}

a.authorLink {
  color: black;
}

div.card a.btn {
  color: white;
}

.comments-section {
  width: 80%;
  border: 1px solid black;
}
